<?xml version="1.0"?>
<robot name="cylinder">

	<link name="cylinder">
		<inertial>
			<mass value="30"/>
			<inertia  ixx="0.002385" ixy="0.00"  ixz="0.00" iyy="0.002385" iyz="0.00" izz="0.00027" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<cylinder length="1" radius="0.3"/>
			</geometry>
			<material name="grey">
				<color rgba=".5 .5 .5 1"/>
			</material>
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<cylinder length="1" radius="0.3"/>
			</geometry>
		</collision>
	</link>

</robot>